# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Coverage directory used by tools like playwright
coverage

# Playwright test reports
*/playwright-report
e2e/playwright-report

# Playwright test results
*/test-results
e2e/test-results

# Generate output
dist

# JSDoc output
out
jsdoc

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Stores local VSCode configurations
.vscode

# Documents
docs
*.md

# Handlebars
*.hbs
**/*.hbs
